@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Raleway:wght@300;400;500;700&display=swap");
.wrapper {
  font-family: "Raleway", sans-serif;
}
.wrapper .header, .wrapper .name-site, .wrapper .btn-menu, .wrapper .infocafe, .wrapper .incafe, .wrapper .atmosphere, .wrapper .menu, .wrapper .footer-elements {
  margin-left: 141px;
  margin-right: 141px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  align-items: center;
}

.brand img {
  width: 160px;
  height: 80px;
}

.banner {
  color: #FFF;
  height: 100vh;
  width: 100%;
  background: url(../source/main-image-min.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.header .navbar ul {
  display: flex;
  list-style: none;
}
.header .navbar ul a {
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #FFF;
  border: transparent 2px solid;
  border-radius: 10px;
  padding: 3px 8px 3px 8px;
}
.header .navbar ul a:hover {
  border: #FFF 2px solid;
}
.header .navbar ul li {
  margin-left: 34px;
}

.panel {
  padding-top: 138px;
  display: flex;
  text-align: end;
  align-items: flex-end;
  flex-direction: column;
}

.name-site p {
  font-size: 40px;
  font-weight: 500;
  line-height: 46px;
}
.name-site h1 {
  font-size: 90px;
  font-weight: 300;
  line-height: 105px;
}

.btn-menu {
  margin-top: 102px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  padding: 23px 65px;
  border-radius: 20px;
  background-color: #235560;
}
.btn-menu:hover {
  background-color: #1397B4;
}

.bg-infocafe {
  display: flex;
  height: 100vh;
  width: 100%;
  color: #000000;
  background-color: #F1F1F1;
  align-items: center;
}

.infocafe {
  display: flex;
  height: 460px;
  width: 100%;
  justify-content: space-around;
}
.infocafe img {
  border-radius: 20px;
}

.text-infocafe {
  display: flex;
  flex-direction: column;
  width: 660px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.text-infocafe h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}
.text-infocafe p {
  font-weight: 400;
  font-size: 32px;
  line-height: 115%;
}

.bg-incafe {
  display: flex;
  height: 100vh;
  width: 100%;
  color: #000000;
  background-color: #E3DACD;
  align-items: center;
}

.incafe {
  display: flex;
  height: 460px;
  width: 100%;
  justify-content: space-around;
}
.incafe .img-incafe {
  border-radius: 20px;
}

.text-incafe {
  display: flex;
  flex-direction: column;
  width: 660px;
}
.text-incafe h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
.text-incafe p {
  display: flex;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  margin: 47px 0 0 0px;
}
.text-incafe .ico-1, .text-incafe .ico-2, .text-incafe .ico-3 {
  margin-right: 35px;
  width: 60px;
}

.bg-atmosphere {
  display: flex;
  height: 100vh;
  width: 100%;
  color: #000000;
  background-color: #F1F1F1;
  align-items: flex-start;
  justify-content: center;
}

.atmosphere {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.text-atmosphere {
  display: flex;
  width: 560px;
  height: 132px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 61px;
  margin-bottom: 23px;
}
.text-atmosphere h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}
.text-atmosphere p {
  font-family: "Caveat";
  color: #D9BC92;
  font-weight: 400;
  font-size: 40px;
  line-height: 30px;
  text-align: center;
}

.gallery-atmosphere {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gallery-atmosphere img {
  border-radius: 20px;
}

.bg-menu-new {
  display: flex;
  height: 100vh;
  width: 100%;
  color: #000000;
  background-color: #E3DACD;
  align-items: flex-start;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.text-menu {
  display: flex;
  width: 349px;
  height: 46px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 61px;
  margin-bottom: 97px;
}
.text-menu h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.assortiment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.citrus-raf img, .lavender-raf img, .bumble img {
  border-radius: 20px 20px 0 0;
}

.name {
  display: flex;
  justify-content: center;
  margin-top: -136px;
  width: 360px;
  height: 278px;
  background: #DDC198;
  box-shadow: inset -50px -50px 118px rgba(255, 255, 255, 0.25), inset 50px 50px 118px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 20px 20px;
}
.name p {
  margin-top: 161px;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}

.circle-price {
  margin: -65px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: #F5CB8E;
}
.circle-price p {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}
.circle-price span {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.bg-footer {
  color: #FFF;
  display: flex;
  height: 21vh;
  width: 100%;
  background-color: #300E04;
  align-items: center;
}

.footer-elements {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.address-footer {
  width: 360px;
  height: 138px;
}

.address-footer p span {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  text-transform: uppercase;
}
.address-footer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
}

.contacts {
  width: 224px;
  height: 138px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contacts p {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
.contacts img {
  margin-right: 8px;
}/*# sourceMappingURL=styles-main.css.map */