@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Raleway:wght@300;400;500;700&display=swap');

$font-raleway: 'Raleway', sans-serif;
$font-caveat: 'Caveat';
$color-white: #FFF;
$color-caveat: #D9BC92;
$btn-menu-color: #235560;
$btn-menu-color-hover: #1397B4;
$grey-bg: #F1F1F1;
$color-black: #000000;
$beige-bg: #E3DACD;
$color-name-assortiment: #DDC198;
$color-circle-price: #F5CB8E;
$color-bg-footer: #300E04;

@mixin bg(){
    display: flex;
    height: 100vh;
    width: 100%;
}

.wrapper{
    font-family: $font-raleway;
    .header, .name-site, .btn-menu, .infocafe, .incafe, .atmosphere, .menu, .footer-elements{
        margin-left: 141px;
        margin-right: 141px;
    }
    
}
.header{
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: space-between;
    align-items: center;
}
.brand img{
    width: 160px;
    height: 80px;
}
.banner{
    color: $color-white;
    height: 100vh;
    width: 100%;
    background: url(../source/main-image-min.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.header .navbar ul{
    display: flex;
    list-style: none;

    a {
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
        color: $color-white;
        border: transparent 2px solid;
        border-radius: 10px;
        padding: 3px 8px 3px 8px;

        &:hover{
            border: $color-white 2px solid;
        }
    }

    li {
        margin-left: 34px;
    }
}
.panel{
    padding-top: 138px;
    display: flex;
    text-align: end;
    align-items:flex-end;
    flex-direction: column;
}
.name-site 
{
    p{
        font-size: 40px;
        font-weight: 500;
        line-height: 46px;
    } 
    h1{
        font-size: 90px;
        font-weight: 300;
        line-height: 105px;
    }
}

.btn-menu{
    margin-top: 102px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: $color-white;
    padding: 23px 65px;
    border-radius: 20px;
    background-color: $btn-menu-color;

    &:hover{
        background-color: $btn-menu-color-hover;
    }
}
.bg-infocafe{
    @include bg();
    color: $color-black;
    background-color: $grey-bg;
    align-items: center;
}
.infocafe{
    display: flex;
    height: 460px;
    width: 100%;
    justify-content:space-around;

    img{
        border-radius: 20px;
    }
}

.text-infocafe{
    display: flex;
    flex-direction: column;
    width: 660px;
    justify-content: space-between;
    flex-wrap: wrap;

    h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
    }
    p{
        font-weight: 400;
        font-size: 32px;
        line-height: 115%;
    }
}
.bg-incafe{
    @include bg();
    color: $color-black;
    background-color: $beige-bg;
    align-items: center;
}
.incafe{
    display: flex;
    height: 460px;
    width: 100%;
    justify-content:space-around;

    .img-incafe{
        border-radius: 20px;
    }

}
.text-incafe{
    display: flex;
    flex-direction: column;
    width: 660px;

    h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-transform: uppercase;
    }
    p{
        display: flex;
        font-weight: 400;
        font-size: 24px;
        line-height: 27px;
        margin: 47px 0 0 0px;
    }
    .ico-1, .ico-2, .ico-3{
        margin-right: 35px;
        width: 60px
    }
}
.bg-atmosphere{
    @include bg();
    color: $color-black;
    background-color: $grey-bg;
    align-items:flex-start;
    justify-content: center;
}
.atmosphere{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.text-atmosphere{
    display: flex;
    width: 560px;
    height: 132px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 61px;
    margin-bottom: 23px;

    h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-transform: uppercase;
    }
    p{
        font-family: $font-caveat;
        color: $color-caveat;
        font-weight: 400;
        font-size: 40px;
        line-height: 30px;
        text-align: center;
    }
}
.gallery-atmosphere{
    width: 100%;
    display: flex;
    justify-content: space-between;

    img{
        border-radius: 20px;
    }
}
.bg-menu-new{
    @include bg();
    color: $color-black;
    background-color: $beige-bg;
    align-items:flex-start;
    justify-content: center;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
}
.text-menu{
    display: flex;
    width: 349px;
    height: 46px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 61px;
    margin-bottom: 97px;

    h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-transform: uppercase;
    }
}
.assortiment{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.citrus-raf, .lavender-raf, .bumble{
    img{
        border-radius: 20px 20px 0 0;
    }
}
.name{
    display: flex;
    justify-content: center;
    margin-top: -136px;
    width: 360px;
    height: 278px;
    background: $color-name-assortiment;
    box-shadow: inset -50px -50px 118px rgba(255, 255, 255, 0.25), inset 50px 50px 118px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 20px 20px;

    p{
        margin-top: 161px;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
    }
}
.circle-price{
    margin: calc(-130px/2) auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: $color-circle-price;

    p{
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
    }
    span{
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }
}
.bg-footer{
    color: $color-white;
    display: flex;
    height: 21vh;
    width: 100%;
    background-color: $color-bg-footer;
    align-items: center;
}
.footer-elements{
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.address-footer{
    width: 360px;
    height: 138px;
}
.address-footer{
    p span{
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: right;
        text-transform: uppercase;
    }
    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: right;
    }
}
.contacts{
    width: 224px;
    height: 138px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    p{
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }
    img{
        margin-right: 8px;
    }
}